<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSharpPlus" version="3.2.3" targetFramework="net461" />
  <package id="DSharpPlus.CommandsNext" version="3.2.3" targetFramework="net461" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NLog" version="4.5.9" targetFramework="net461" />
  <package id="NLog.Config" version="4.5.9" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.9" targetFramework="net461" />
  <package id="RedditSharp" version="1.1.14" targetFramework="net461" />
</packages>